ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ion-menu {
  --width: 250px; /* Ajusta el ancho del menú */
  --background: #f8f9fa; /* Cambia el color de fondo del menú */
}

ion-item {
  margin-top: 16px;
  --padding-start: 16px; /* Ajusta el padding de los ítems */
}

.TituloCategorias {
  margin-top: 16px;
  
}


ion-card {
  height: 100%; /* Hace que la card ocupe todo el alto disponible */
  display: flex;
  flex-direction: column; /* Alinea el contenido de la card verticalmente */
}

ion-img {
  height: 100%; /* Hace que la imagen ocupe todo el alto de la card */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el espacio sin distorsionarse */
  flex-grow: 1; /* Permite que la imagen ocupe todo el espacio disponible dentro de la card */
}

ion-card-header, ion-card-content {
  flex-shrink: 0; /* Evita que el contenido y el header se reduzcan en tamaño */
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-card-content {
  font-size: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px; /* Espacio entre las cards */
  padding: 16px;
}


.custom-card {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta la altura de la card según tu preferencia */
  overflow: hidden; /* Evita que la imagen o el texto se salgan del contenedor */
  margin-top: 10px;
}

.custom-card ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
}

.custom-card .overlay {
  position: absolute;
  bottom: 0; /* Hace que el título esté en la parte inferior de la imagen */
  left: 0;
  width: 100%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5); /* Un fondo oscuro semitransparente */
  color: white; /* Color del texto */
  text-align: center;
}

.custom-card h2 {
  margin: 0; /* Elimina cualquier margen alrededor del título */
  font-size: 1.5rem; /* Tamaño del texto ajustable */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
