<!-- Toolbar Superior (Titulo de App) -->
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>WorkMatch</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-historias></app-historias>

  <div class="post-trabajos"> 
    <div class="post"> 
      <h3>User 1</h3>
       <img src="assets/img/portafolio4.jpg" alt=""> 
       <h6>Web Design</h6> 
      </div> 
      <div class="post"> 
        <h3>User 2</h3> 
        <img src="assets/img/portafolio5.jpg" alt=""> 
        <h6>Web Design</h6> 
      </div> 
      <div class="post"> 
        <h3>User 3</h3> 
        <img src="assets/img/portafolio.jpg" alt=""> 
        <h6>Web Design</h6> 
      </div> 
      <div class="post"> 
        <h3>User 4</h3> 
          <img src="assets/img/Portafolio1.jfif" alt=""> 
          <h6>Web Design</h6> 
        </div> 
        <div class="post"> 
          <h3>User 5</h3> 
          <img src="assets/img/portafolio.jpg" alt=""> 
          <h6>Web Design</h6> 
        </div> <div class="post"> 
          <h3>User 6</h3> 
          <img src="assets/img/portafolio.jpg" alt=""> 
          <h6>Web Design</h6> 
        </div> 
      </div>
</ion-content>


<!-- Toolbar Inferior (Barrita navegacion de abajo xd) -->
<ion-footer>
  <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home" routerLink="/home">
            <ion-icon name="home"></ion-icon>
            Inicio
          </ion-tab-button>
          <ion-tab-button tab="chatbubbles" routerLink="/chats">
            <ion-icon name="chatbubbles"></ion-icon>
            Mensajes
          </ion-tab-button>
          <ion-tab-button tab="library" routerLink="/usuario">
            <ion-icon name="person"></ion-icon>
            Perfil
          </ion-tab-button>
          <ion-tab-button routerLink="/buscar" tab="search">
            <ion-icon name="search"></ion-icon>
            <ion-label>Buscar</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
  </ion-toolbar>
</ion-footer>

<!--  -->